.tools {
    display: inline-block;
    width:            24px;
    height:           24px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAXCAYAAAARIY8tAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA9jAAAPYwHXwWTgAAAAB3RJTUUH3gsUFBstu426ZQAAAaRJREFUSMetlU9LlUEUxn/3XcjFQBECBQtBAuUuo019AV26VYpLpBG0ceXKDxCuchVhtOgTtL1LCzdCq6SVCFELA0GEuriRX4tGnDu9751X731gFnPmnGeY82ceVGquN15hs25cQ6UGJoCfwGjYnwAzQDcXWCT7BrACTCf2tYgc4DbwPPFpAauB4wrRcwr1fUjBhdpR2+qWeub/OFNfqc/Uvci+E7hQey5Ycnh4VFaDJvAjPH8QHAH3ANManANvGRzvLsnLivwxE/wrrH7o9OuiJxVBn4B5YCqs+WArw3LaRSPqY3W/omAHarNkiJrhrAxf1BfqGOpxpiPafSa1nYn9XQCTmZx+u+EZwK0C+JNxat3w7F9TqOPqS/XrEGuwH+o6kga9rgjYVeciv7lgK8N2zJlecD9TtOMaTfEg5kznYCGT08kaTbHU8z1Hf1EDOARmB/wqToC74evpecHDIZBfasVilR7sRLn8rD7N6MFWGLZO0BCDphRVRW6oq2orsa+XXLCR+EyrK4Hj2po8CnyPtKIL3AFOr6vJVegC29H+Qx1ygL8+2Xsmz6VZDQAAAABJRU5ErkJggg==');
}

.power {
    display: inline-block;
    width:            24px;
    height:           24px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeCxQUIhN0aCp0AAABYUlEQVQ4y8WUT0uUURSHn1dHJZ1xFUlktGxjozS1SGk3IO1yUysXgWGbQAI3goqLPkFBH0OJicCNg1hEEgNRRIs2BbZoUYtRJxx8XPim7x3vIG3q7s6f59z7O+feC/9pecO7f5N+S9VyLNYRJS4BMHQqYJ+jdgWefm97rg3gIJ95xaOg4GOW+eJIBLCfF1wAPgTATyDPcwdaZeZcVbUC4ANVZ8Az1lR9bU8ITKr6y4shABb9reqd8EhTAMwl31q7krznGQA3Q+AaAJVok9dPAJ6lF/iRfE1TtgD4nlo1AK5YyEreUXfNpXbirEt2plZJ1e0/0UPnhqrD0YsyrWo11PAWgPuR9E7uAfAmdF93T913/ASwoGrDYmtgXtW6Mx5Pv+BT91V9eNTmzNZraes+UeUdeUqUOQ/ASjIRE5f3SVovuxou2t3+6Yy5aTOT/NLLLZOPQL2McJU6NT4mzX//PRwAWkbZyvziwdwAAAAASUVORK5CYII=');
}

.marked_list {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAMAAACWh252AAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAINAAACDQF3Tr5wAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAG9QTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA62mwiwAAACR0Uk5TAAIFFBciLC8xOz1IUFFWanx+gI2Qmp2foKOkpbCyz9DY5ujy1ueQfAAAAHBJREFUKJGtkjUSwDAMBBVmZib9/41xaTW+ItnOo53xCYh+ImpiYz1l5pyqUzBrwqqEjUYWHJpQqndNgxR2TXCmZ3HJSwSBSGGBLuzYNtb9i++QslZQaEKnMvWmLqAAv4AhYZtwUHDUcFlw3fBgvvACuE4bUVbtleQAAAAASUVORK5CYII76cb7c76d7a8b522588ace5c389aaa20');
}
.numbered_list {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAYAAAChWZ5EAAABI0lEQVRIx8XVoUuDURSG8Z8IKoLIwGAwzKYwTAM1GGwDi4oMm01d0yQWo4whCIJtKBajcRv+A1aDwSoYLEZRRJzlhjG2cL/h9114yguH+3DPOVz6ny28oyKDs4JvtHGQhcAwSlkKwGgPgTreElKPFRjrIdAKWRJaMZev9yluDCDQiBHIYamDuZDnsZiQfGwLhjCT1QDO4zU83TOm0hZYxi3WgsRhyCu4Tsh+khacBoHVtLdgJBR8YCeLNTzCLzZxhpuQl1FNSDlG4K7Lvpn2EE5iuoNc2gIL2O6gEPJiVx5DMUagii+8hBYch7w5wBBGtbGEXVzhCRNpb4Gw+208YDZkNTwmpJbkO97AJy7SHsIS7nGCH+ylLVDAZfiIzjH+Xxf9AUGEwGY24jBAAAAAAElFTkSuQmCC66f7c4b9225b2b9b35b08137f4091ce6');
}

.pencil{
    cursor: pointer;
	padding: inherit;
	border: inherit;
	background-color: inherit;
	width:            24px;
	height:           24px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAQlBMVEX///////////////////////////////////////////////////////////////////////////////////////8Alm/HAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAAAKYAAACmAd19/zgAAAAHdElNRQfeDAoTLSRM5HmNAAAAS0lEQVQoz+XRKRbAIBAE0fYQGJa+/1VD0IVAp2X9eRgkWBUvPBmaUfKWCu+0JQHdn2C386HHb7qeQ98CPY0ldN898COLe0KYRVd7ARvNCRPKibFjAAAAAElFTkSuQmCC');
}

.del_button {
    cursor: pointer;
	padding: inherit;
	border: inherit;
	background-color: inherit;
	width:            24px;
	height:           24px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAABqAAAAagHcGLm1AAAAB3RJTUUH3gwKEy02v10IxQAAAQ5JREFUSMfVls1Kw0AURk/iXsEiaPAdRWulqyL+9e0EifoELgRxL4g9bhJo2plkxtCFH9zVZM43d7j3TgqVXapkxwoZFMDBH1gnwN6QQQXUwAcwy4AvgDfgGTjtrKhtlGptV1dr67G43tjz0rBQOwaVunJbswy46rc6CRmg3hnWNBG+lXXoVA+RjRcJ8PkmL5Z6LJPzHHifAeqt6ZrHOEMVcjMGnmLQd9+DcHX0qBgeZCNOn9SMY+GtLnMN+kpxmdGM5MLbb5YJzRg0WGRUS8zkLGZwpP5klmLI5EvdDxmU6mtunQdMHvuuqFKfmpGb8ha0cd+M+lo9Xl8rAo9+ARwCn5lNVwHvwKoD+/d/Fb903S/L03WPXAAAAABJRU5ErkJggg==');
}

.bookmark {
    cursor: pointer;
    padding: inherit;
    border: inherit;
    background-color: inherit;
    width:            24px;
    height:           24px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAACVBMVEX///////////+OSuX+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfeDAoTLQh+PBVuAAAAQElEQVQI12NggAK2VatWTWBgkAJSSxgYtIDUChilobWqCTfVwMCEROFTCTMMTEEs0oBYqwFxA5SSgljOBqEgAABzijW1zgLUOwAAAABJRU5ErkJggg==');
}