a {
    text-decoration: none;
    color: white;
}

.header{
    background: #7777E7;
    padding: 5px 10px;
    width: 100%;
    max-height: 10%;
    margin: 0px;
}

body{
    margin: 0px;
    background: white;
    height: 100%;
}

.box{
    position: absolute;
    top: 12%;
    right: 5%;
    padding: 20px 30px;
    width: auto;
    min-width: 12%;
    height: auto;
    background: #7777E7;
    border-radius: 20px;
}

.button{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: transparent;
}

.editText{    
    display: block;
    text-align: right;
    width: 100%;
    color: white;
}

.text{
    display: block;    
    text-align: center;
    width: 100%;    
    color: white;
}

.link:hover{
    color: #9999F7;
}

.list_buttons{
	padding: 0;
	border: 0;
	background-color: transparent;
}

.pencil{
	padding: inherit;
	border: inherit;
	background-color: inherit;
	max-width:            24px;
	max-height:           24px;
	min-width:            24px;
	min-height:           24px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAACmAAAApgHdff84AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAEVQTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHmGn6QAAABZ0Uk5TAAIEEBQYHjBESFRziYyeoaer1/f4+x6GAkAAAABdSURBVCjP5czbEYAgEEPRsLiKL5BV03+pFkA68H6ezAQYs2uDyjpfuUxBtdjpHuQlfsI9uo1Ohk/SyRPau/3Ekar2XFJVjuNZUxU+33xKGh2N95FHxvK2Gap9kYwPmVQKVdpi2uwAAAAASUVORK5CYII98ee2822c74d76de0ef2ea9acb1adc56');
}

.del_button {
	padding: inherit;
	border: inherit;
	background-color: inherit;
	max-width:            24px;
	max-height:           24px;
	min-width:            24px;
	min-height:           24px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAagAAAGoB3Bi5tQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEjSURBVEiJtZbLSsRAEEVPxb2Cg6DBfxTHB7MS8fl3gow6v+DGvSjOddFx6Ek/Q0xBb1Jd53QHqhKTxJTRTEqPCczF3lCQmR2Z2U6QkLRZQAu8AF/AhZ/LLeAK+AFWwPFWztvUAEtA3rqsgF/3al6BJiZogXVvs3I3icAFfAOzQNAV3EUKBJxVwoNbx071kCicV8AXAS9x9dRNTofAk4JOcpsAVcOzgk5yMwZeFBTedxEuafSoKA+yEaevasax8L91PkiQgS+Ax0QuaMZUoyXh3p6UZJ4V4KZiXYemJSdRAXCAG7n1TRSXfAK7MUEDvNXCM5Kn3CtqgWfcyC1+C7y6e9yoXwKHfs66DZswMwP2JX0wIMysBd4lrbee9wX/HZP/VfwCfxke/EEuG5EAAAAASUVORK5CYII266dcbbe9baa3bf447c32ec2348d9ced');
}