a {
    text-decoration: none;
    color: white;
}

html{
    height: 100%;
}

footer {
    font-size: small;
}
footer a{
    color: black;
}
footer ul{
    padding: 0;
    margin: 0;
}
footer li {
    display: inline;
    padding: 0 5px;
}

#header{
    #background: #5555E7;
    background: -moz-linear-gradient(top, #5555E7 0%, #4444E7 25%, #3333E7 100%);
    background: -webkit-linear-gradient(top, #5555E7 0%, #4444E7 25%, #3333E7 100%);
    background: -o-linear-gradient(top, #5555E7 0%, #4444E7 25%, #3333E7 100%);
    background: -ms-linear-gradient(top, #5555E7 0%, #4444E7 25%, #3333E7 100%);
    background: linear-gradient(top, #5555E7 0%, #4444E7 25%, #3333E7 100%);
    width: 100%;    
    margin: 0px;
    padding: 10px 0;
    #border-bottom: solid 0.1em black;
    box-shadow: 7px 7px 15px #888888;
}

.title {
    font-size: 23px;
    padding: 0 0 0 10px;
    #text-shadow: 2px 2px 1px black;
}

.semi-header{
    font-size: 21px;
    color: white;
}

.white{
    color: white;
}

#header::after{
    clear: both;
}

#header li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}


body{
    margin: 0px;
    background: white;
    height: 100%;
}

.box{
    position: absolute;
    top: 12%;
    right: 5%;
    padding: 20px 30px;
    width: auto;
    min-width: 12%;
    height: auto;
    background: #7777E7;
    border-radius: 20px;
    box-shadow: 7px 7px 15px #888888;
    border: 2px ridge #6666E7;
}

.rectangle{
    width: 50%;
    display: block;
    background: #7777E7;
    border-radius: 20px;
    margin: 1% auto 0 auto;
    min-width: 350px;
    box-shadow: 7px 7px 15px #888888;
    border: 2px ridge #6666E7;
    padding: 5px 0;
}

.button{
    position: relative;
    display: block;
    #width: 100%;
    height: auto;
    width: auto;
    text-align: center;
    background-color: transparent;
}

.editText{    
    display: block;
    text-align: center;
    width: auto;
    color: white;
    padding: 5px 0px;
}

.text{
    display: block;    
    text-align: center;
    #width: 100%;    
    color: white;
    padding: 0px 10px 0px 10px;
}

.link:hover{
    color: #AAAAF7;
}

.list_buttons{
	padding: 0;
	border: 0;
	background-color: transparent;
}

.super_button{
    background-color: #5555E7;
    border: 0;
    box-shadow: 1px 1px 1px black;
    color: white;
    border-radius: 1.5em;
    outline: 0;
    padding: 1px 10px;
}
.super_button:focus{
    box-shadow: inset 1px 1px 1px black;
}

.file_loader {
    color: white;
}

.type_list{
     #border: 1px groove #EEE;
}
.type_list input[type="radio"] + label{
    margin: 0;
    clear: none;
    background-position: center;
    padding: 0px 0px 13px 32px;
    cursor: pointer;
    background-repeat: no-repeat;
}
.type_list input[type="radio"]:checked + label{
    box-shadow: 0px 0px 5px 2px #4444E7;
}

.pop_message{
    display: table-cell;
    position: absolute;
    bottom: 5px; 
    right: 5px;
    border: 1px #333 solid;
    background-color: #6666E7;
    border-radius: 1.5em;
    padding: 15px 10px 0px 10px;
    height: 38px;
    width: 200px;
    -webkit-animation: pop 10s linear forwards;
    animation: pop 10s linear forwards;
    vertical-align: middle;
}
.pop_message p{
    color: white;
    font-size: 20px;
}

@-webkit-keyframes pop {
    0%  { opacity: 0; }
    5% { opacity: 1; }
    90% { opacity: 1; transform: translateY(0px);}
    99% { opacity: 0; transform: translateY(30px);}
    100% { opacity: 0; }
}

@-moz-keyframes pop {
    0%  { opacity: 0; }
    5% { opacity: 1; }
    90% { opacity: 1; transform: translateY(0px);}
    99% { opacity: 0; transform: translateY(30px);}
    100% { opacity: 0; }
}

@keyframes pop {
    0%  { opacity: 0; }
    5% { opacity: 1; }
    90% { opacity: 1; transform: translateY(0px);}
    99% { opacity: 0; transform: translateY(30px);}
    100% { opacity: 0; }
}

.search{
    background-color: white;
    margin: 0 0 0 30%;
    border: solid 1px white;
    border-radius: 10px;
    padding: 1px 10px;
    display: inline-block;
    
}

.inputtext{
    border: 0px;
    outline: 0;
}

#profile_settings{
    position: absolute;
    right: 0;
    top: 10px;
    display: inline;    
    padding: 0px;
    margin: 0;
}

#td_list_of_lists{
    width: auto;
    padding: 0;
}

.list_of_lists{
    height: 100%; 
    padding: 5px 10px; 
    background: #5555E7;
    #background: -moz-linear-gradient(left, #6666E7 0%, #3333E7 98%, #000099 100%);
    #background: -webkit-linear-gradient(left, #6666E7 0%, #3333E7 98%, #000099 100%);
    #background: -o-linear-gradient(left, #6666E7 0%, #3333E7 98%, #000099 100%);
    #background: -ms-linear-gradient(left, #6666E7 0%, #3333E7 98%, #000099 100%);
    #background: linear-gradient(left, #6666E7 0%, #3333E7 98%, #000099 100%);
    
    background: -moz-linear-gradient(bottom, #7777E7 0%, #6666E7 50%, #5555E7 100%);
    background: -webkit-linear-gradient(bottom, #7777E7 0%, #6666E7 50%, #5555E7 100%);
    background: -o-linear-gradient(bottom, #7777E7 0%, #6666E7 50%, #5555E7 100%);
    background: -ms-linear-gradient(bottom, #7777E7 0%, #6666E7 50%, #5555E7 100%);
    background: linear-gradient(bottom, #7777E7 0%, #6666E7 50%, #5555E7 100%);
    
    #border-bottom: solid 0.1em black;
    min-width: 300px; 
    border-bottom-right-radius: 1.5em;
    box-shadow: 5px 5px 15px #888888;
}

.list_of_lists a {
    width: 100%;
}

#profile_table{
    height: 100%; 
    #width: 100%; 
    border-spacing: 0; 
    border-collapse: collapse;
}

#myLists, #bookMark{
     padding: 0 3%;
}

.left_menu{
    margin: 0;
}
.left_menu dd{
    margin: 0;
}
.left_menu dd:hover{
    background-color: #7777E7;
    margin: 0;
}

#list_view{
    height: 100%;
    padding: 5px 10px;
    background: #9999E7;
    background: -moz-linear-gradient(top, #7777E7 0%, #6666E7 5%, #5555E7 100%);
    background: -webkit-linear-gradient(top, #7777E7 0%, #6666E7 5%, #5555E7 100%);
    background: -o-linear-gradient(top, #7777E7 0%, #6666E7 5%, #5555E7 100%);
    background: -ms-linear-gradient(top, #7777E7 0%, #6666E7 5%, #5555E7 100%);
    background: linear-gradient(top, #7777E7 0%, #6666E7 5%, #5555E7 100%);
    #background: -moz-linear-gradient(top, #3333E7 0%, #4444E7 45px, #4949E7 50px, #4949E7 95%, #1D1DE7 99%, #000099 100%);
    #background: -webkit-linear-gradient(top, #3333E7 0%, #4444E7 45px, #4949E7 50px, #4949E7 95%, #1D1DE7 99%, #000099 100%);
    #background: -o-linear-gradient(top, #3333E7 0%, #4444E7 45px, #4949E7 50px, #4949E7 95%, #1D1DE7 99%, #000099 100%);
    #background: -ms-linear-gradient(top, #3333E7 0%, #4444E7 45px, #4949E7 50px, #4949E7 95%, #1D1DE7 99%, #000099 100%);
    #background: linear-gradient(top, #3333E7 0%, #4444E7 45px, #4949E7 50px, #4949E7 95%, #1D1DE7 99%, #000099 100%);
    #border: solid 1px black;
    min-width: 400px;
    min-height: 400px;
    margin: 0 20%;
    border-top-right-radius: 1.5em;
    box-shadow: 0px 0px 15px 5px #888888;
    overflow: hidden;
}

.edit_box{
    height: 80%;
    width: 60%;
    margin: 2% 20%;
    min-height: 400px;
    background: #7777E7;
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px;
    box-shadow: 7px 7px 15px #888888;
    border: 2px ridge #6666E7;
}
.edit_box input[type="checkbox"]:focus{
    outline: 0;
    box-shadow: 0px 0px 2px 2px #4444E7;
}
.edit_box label{
    color: white;
}
.edit_box input[type="text"], .edit_box textarea{
    background-color: inherit;
    color: white;
    border-color: #9999E7;
}
.edit_box input[type="text"]{
    padding: 1px 0 1px 3px;
}
.edit_box textarea{
    width: 99%;
    height: 100%;
    resize: vertical;
    border: 2px inset #9999E7;
}
.edit_box input[type="text"]::-webkit-input-placeholder{
    color: #CFCFCF;
}
.edit_box input[type="text"]::-moz-placeholder{
    color: white;
}
.edit_box textarea::-webkit-input-placeholder{
    color: #CFCFCF;
}
.edit_box textarea::-moz-placeholder{
    color: white;
}

.login_form input[type="text"], .login_form input[type="password"], .login_form input[type="email"]{
    border-radius: 6px;
    width: 100%;
    padding: 3px;
    border: 2px solid #6666E6;
    outline: 0;
    margin: 1px 0;
}