a {
    text-decoration: none;
    color: white;
}

.header{
    background: #7777E7;
    padding: 5px 10px;
    width: 100%;
    max-height: 10%;
    margin: 0px;
}

body{
    margin: 0px;
    background: white;
    height: 100%;
}

.enter_register{
    position: absolute;
    top: 12%;
    right: 5%;
    padding: 20px 30px;
    width: 25%;
    min-width: 200px;
    height: auto;
    background: #7777E7;
    border-radius: 20px;
}

.button{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
}

.link:hover{
    color: #9999F7;
}

.list_buttons{
	padding: 0;
	border: 0;
	background-color: transparent;
}

.pencil{
	padding: inherit;
	border: inherit;
	background-color: inherit;
	max-width:            24px;
	max-height:           24px;
	min-width:            24px;
	min-height:           24px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAACmAAAApgHdff84AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAEVQTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHmGn6QAAABZ0Uk5TAAIEEBQYHjBESFRziYyeoaer1/f4+x6GAkAAAABdSURBVCjP5czbEYAgEEPRsLiKL5BV03+pFkA68H6ezAQYs2uDyjpfuUxBtdjpHuQlfsI9uo1Ohk/SyRPau/3Ekar2XFJVjuNZUxU+33xKGh2N95FHxvK2Gap9kYwPmVQKVdpi2uwAAAAASUVORK5CYII98ee2822c74d76de0ef2ea9acb1adc56');
}

.del_button {
	padding: inherit;
	border: inherit;
	background-color: inherit;
	max-width:            24px;
	max-height:           24px;
	min-width:            24px;
	min-height:           24px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAagAAAGoB3Bi5tQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEjSURBVEiJtZbLSsRAEEVPxb2Cg6DBfxTHB7MS8fl3gow6v+DGvSjOddFx6Ek/Q0xBb1Jd53QHqhKTxJTRTEqPCczF3lCQmR2Z2U6QkLRZQAu8AF/AhZ/LLeAK+AFWwPFWztvUAEtA3rqsgF/3al6BJiZogXVvs3I3icAFfAOzQNAV3EUKBJxVwoNbx071kCicV8AXAS9x9dRNTofAk4JOcpsAVcOzgk5yMwZeFBTedxEuafSoKA+yEaevasax8L91PkiQgS+Ax0QuaMZUoyXh3p6UZJ4V4KZiXYemJSdRAXCAG7n1TRSXfAK7MUEDvNXCM5Kn3CtqgWfcyC1+C7y6e9yoXwKHfs66DZswMwP2JX0wIMysBd4lrbee9wX/HZP/VfwCfxke/EEuG5EAAAAASUVORK5CYII266dcbbe9baa3bf447c32ec2348d9ced');
}

.type_list{
     border: 1px groove #EEE;
}
.type_list input[type="radio"]{
    opacity: 0;
    float: left;
    width: 18px;
}
.type_list input[type="radio"] + label{
    margin: 0;
    clear: none;
    padding: 5px 0 4px 24px;
    cursor: pointer;
    background-repeat: no-repeat;
}
.type_list input[type="radio"]:checked + label{
    border: 1px groove #EEE;
}
.marked_list{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAMAAACWh252AAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAINAAACDQF3Tr5wAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAG9QTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA62mwiwAAACR0Uk5TAAIFFBciLC8xOz1IUFFWanx+gI2Qmp2foKOkpbCyz9DY5ujy1ueQfAAAAHBJREFUKJGtkjUSwDAMBBVmZib9/41xaTW+ItnOo53xCYh+ImpiYz1l5pyqUzBrwqqEjUYWHJpQqndNgxR2TXCmZ3HJSwSBSGGBLuzYNtb9i++QslZQaEKnMvWmLqAAv4AhYZtwUHDUcFlw3fBgvvACuE4bUVbtleQAAAAASUVORK5CYII76cb7c76d7a8b522588ace5c389aaa20');
}
.numbered_list{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAYAAAChWZ5EAAABI0lEQVRIx8XVoUuDURSG8Z8IKoLIwGAwzKYwTAM1GGwDi4oMm01d0yQWo4whCIJtKBajcRv+A1aDwSoYLEZRRJzlhjG2cL/h9114yguH+3DPOVz6ny28oyKDs4JvtHGQhcAwSlkKwGgPgTreElKPFRjrIdAKWRJaMZev9yluDCDQiBHIYamDuZDnsZiQfGwLhjCT1QDO4zU83TOm0hZYxi3WgsRhyCu4Tsh+khacBoHVtLdgJBR8YCeLNTzCLzZxhpuQl1FNSDlG4K7Lvpn2EE5iuoNc2gIL2O6gEPJiVx5DMUagii+8hBYch7w5wBBGtbGEXVzhCRNpb4Gw+208YDZkNTwmpJbkO97AJy7SHsIS7nGCH+ylLVDAZfiIzjH+Xxf9AUGEwGY24jBAAAAAAElFTkSuQmCC66f7c4b9225b2b9b35b08137f4091ce6');
}

.pop_message {
    position: absolute;
    bottom: 5px; /* Положение от нижнего края */
    right: 5px; /* Положение от правого края */
    border: 1px #333 solid;
    background-color: #DDD;
    height: 40px;
    width: 200px;
    -webkit-animation: pop 10s linear forwards;
    animation: pop 10s linear forwards;
    vertical-align: middle;
}

@-webkit-keyframes pop {
    0%  { opacity: 0; }
    5% { opacity: 1; }
    90% { opacity: 1; transform: translateY(0px);}
    99% { opacity: 0; transform: translateY(30px);}
    100% { opacity: 0; }
}

@-moz-keyframes pop {
    0%  { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; transform: translateY(0px);}
    99% { opacity: 0; transform: translateY(-30px);}
    100% { opacity: 0; }
}

@keyframes pop {
    0%  { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; transform: translateY(0px);}
    99% { opacity: 0; transform: translateY(-30px);}
    100% { opacity: 0; }
}

.gear {
    width:            24px;
    height:           24px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAXCAYAAAARIY8tAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAPYwAAD2MB18Fk4AAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAGaSURBVEiJrdUxaxRREAfw39siHCcoASGBfICEK0OqfAHbaw3KIUYR0lhZ+QEklalEFAu/RUoVm4CVYmevpJCAERuZFLsL7+527/buMjDFmzf/mXkzb2ZEhC6MV4iKn3fGdTS+jsvMwTn6XbCFjFJJBymlLeP0CP3sfBuPJ7CDlNJhSimNIbMoC7yrIvyPU4xwjIss+pov8AIP8TmTv0ExlSIMG4wsy/tNDnpVblc1/gNpqgYR8Q+vrU5vo4q4Npy/Ym9OdD8rnqWz2/qLcL8lqo/YiYjNiNjETiVroruTgjXcw1lLRN/Qa+iNXnXXhPmCJ7ipw5NHMxpwNAf7p8BGy1Nr+r7kHdwolCNgFg2WvINfcAtH+Or6anCmrOvaJOhlC+ADtjO97UrWpHvSOk2x2wJapA/2ZvXBnTk53TD/UwzHTln0STlHVp1F57Ka5Q72r8F4zcMmB4VyltdKn/DA7H1wrGy2U+UOCeVOmd4HWZoOMZiQP21w8GxCZwsHslG9yE7uG98Vl1hfeCe3UUT8xUkmeh8Rv7tgrwCkAmqTL+z49QAAAABJRU5ErkJggg21f98d4eae7cb36ede35ceb084751006');
}

.power {
    width:            24px;
    height:           24px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAABM0lEQVR4AcXPz6uMURzH8ZcxUmNmFhILZGmDsVCakR3Jip2sEJJfkYUF2Sg9/4DYW7CZmsJkq4nSvYt7u+mWhQ01FhYoNT+aHPVsPGfm1GQ1r+/uU+9Ox8I0nfEfTgqCYxJKUvaAffODLVo2Kao7bTvpYJdP3ruj6JGOzw6mgrqunfio6AeqXtoxHZS1HUBXV1FmFbt1bI6Ds47jl6tiA+eM0XQqDi6Be76atuYpOBoHh8BrKb3ZYJsKvvsC6INvgBWwX+1f8NMANWXAK3c91AZsBUMDBe8EQUPKFUHwNv7DErhs1kYXwIc4eGGCa06Ydt9hjDwX80AQ/HZbCUDNY3/y/Wbq6Z6Q37onLrrlmb580QFgAwCqMtejBUYymbE0RyybCPIz9MZec1W03HBeQ9kC/AVhF1MOuI9FzQAAAABJRU5ErkJggg7f892518a543885356a60c2709de5b99');
}