<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body style="margin: 0px">
  <div style="background: #DDDDDD; padding: 5px 10px; wight: 100%; border-bottom: solid 1px black; margin: 0px">
    <span style="font-size: 20px">
      The Lists
    </span>
  </div>
  <div style="margin: 20% 30%; background: #DDDDDD; padding: 20px 30px; border: solid 1px black; border-radius: 20px">
    <span style="font-size: 20px">
      <center>
	А тут вообще-то
	<br>
	Какой-то очень важный
	<br>
	Текст о сервисе
	<br><br>
	<div style="border: solid 1px #5F5F5F; background: #E5E5E5; padding: 5px; border-radius: 5px">
	  Вход
	</div>
	<br>
	<div style="border: solid 1px #5F5F5F; background: #E5E5E5; padding: 5px; border-radius: 5px">
	  Регистрация
	</div>
      </center>
    </span>
  </div>
</body>
</html>